.index-page {
	.main_block {
		position: relative;
		height: 423px;
		margin-bottom: 60px;
		@include media(mobile) {
			position: initial;
			height: initial;
			margin-bottom: 0;
		}
	}
	.nav_block {
		//display: none;
		position: absolute;
		z-index: -5;
		width: 100%;
		opacity: 0;
		background-image: url('../img/markup/index_bg.png');
		-webkit-background-size: cover;
		background-size: cover;
		padding-top: 81px;
		padding-bottom: 127px;
		@include media(tablet) {
			padding-bottom: 80px;
		}
		@include media(mobile) {
			position: initial;
			display: none;
			z-index: 5;
			padding-bottom: 80px;
		}
		//margin-bottom: 60px;
		&.active {
			opacity: 1;
			z-index: 5;
			-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 1.5s; /* Firefox < 16 */
			-ms-animation: fadein 1.5s; /* Internet Explorer */
			-o-animation: fadein 1.5s; /* Opera < 12.1 */
			animation: fadein 1.5s;
			@include media(mobile) {
				display: block;
			}
		}
		.more_btn {
			display: table;
			margin: auto;
			background-color: rgba(255,255,255, .3);
			border: none;
			&:hover {
				background-color: $blue;
			}
		}
	}
	.last_article {
		.heading {
			font-size: 36px;
			font-weight: 600;
			color: $orange;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 16px;
		}
		.description {
			text-align: center;
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 80px;
		}
	}
	.articles_more {
		background-image: url('../img/markup/articles_more_bg.png');
		padding-bottom: 126px;
		.loader {
			display: table;
			margin: auto;
			margin-bottom: 50px;
			i {
				color: $blue;
				font-size: 90px;
			}
		}
	}
	.opportunities {
		background-image: url('../img/markup/opp_bg.png');
		padding-top: 77px;
		padding-bottom: 120px;
		.icon {
			display: table;
			margin: auto;
			margin-bottom: 57px;
			i {
				color: $blue;
				font-size: 93px;
			}
			.flaticon-certificate {
				margin-top: 10px;
			}
		}
	}
	.projects {
		background-image: url('../img/markup/projects_bg.png');
		padding-top: 77px;
		padding-bottom: 119px;
		.icon {
			display: table;
			margin: auto;
			margin-bottom: 57px;
			i {
				color: $blue;
				font-size: 93px;
			}
		}
		.more_btn {
			display: table;
			margin: auto;
			background-color: rgba(255,255,255, .4);
			&:hover {
				background-color: $blue;
			}
		}
	}
	.about {
		background-image: url('../img/markup/about_bg.png');
		padding-top: 77px;
		padding-bottom: 119px;
		.icon {
			display: table;
			margin: auto;
			margin-bottom: 57px;
			i {
				color: $blue;
				font-size: 93px;
			}
		}
	}
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
