@import '../partials/colors';
@import "partials/login";
@import "partials/header";
@import "partials/drawer";
@import "partials/admins";
@import "partials/articles";
@import "partials/projects";
@import "partials/flash";
@import "partials/categories";
.body {
	padding: 20px 30px;
}

.add_btn {
	position: fixed;
	bottom: 50px;
	right: 2%;
	z-index: 9999;
	a {
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	}
	&:hover {
		a {
			box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)
		}
	}
	&:hover,
	&:active,
	&:focus {
		outline: none;
	}
}
.card {
	padding: 20px;
	overflow: hidden;
}
.mdl-textfield__label:after {
	bottom: 15px;
}
.help-block {
	color: darkred;
}
.flash_message {
	width: 99%;
	padding: 0 20px;
	position: fixed;
	z-index: 30;
	bottom: 0;
	.alert {
		font-family: 'Roboto', Helvetica, sans-serif;
		width: 30%;
		display: table;
		margin: 0 auto;
		border-radius: 0;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	}
}
.create_form {
	.mdl-textfield {
		width: 100%;
	}
}
.add_entity {
	float: right;
}