.one_category {
	width: 50%;
	float: left;
	min-height: initial;
	.mdl-card__title {
		h2 {
			float: left;
			width: 70%;
			a {
				color: inherit;
				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: none;
					cursor: pointer;
				}

			}
		}
	}
	.actions {
		margin-top: 0;
		float: right;
		border-top: 0;
	}
}
.category-body {
	.category_positions {
		border-right: 2px solid $primary-color;
	}
	.category_positions,
	.category_profiles {
		width: 50%;
		float: left;
		overflow: hidden;
		h3 {
			margin-left: 1%;
		}
		.empty {
			margin-left: 1%;
		}
	}
}
.actions {
	float: left;
	padding-top: 20px;
	margin-top: 0;
	width: 100%;
	border-top: 2px solid $accent-color;
}
