.login_page {
	background-image: url('../../img/markup/login_3.jpg');
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.filter {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $blue;
		opacity: .6;
	}
	.login_card {
		display: table;
		margin: auto;
		margin-top: 15%;
		padding: 20px;
		z-index: 99999;
		h4 {
			text-align: center;
			width: 100%;
		}
		.forgot_link {
			font-size: 14px;
			font-weight: 300;
			color: $dark_grey;
			float: left;
			margin-top: 14px;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		.submit_login {
			float: right;
		}
	}
}